<template>
  <input
    class="form-input"
    :value="modelValue"
    :type="type"
    :placeholder="placeholder"
    @input="input"
  />
</template>

<script setup lang="ts">
defineProps<{
  placeholder?: string
  type: string
  modelValue: string | number
}>()

const emit = defineEmits(['update:modelValue'])
const input = function (e: Event) {
  emit('update:modelValue', (e.target as HTMLInputElement).value)
}

</script>

<style lang="postcss" scoped>
.form-input {
  @apply focus:ring-primary-500 focus:border-primary-500 block w-full px-4 py-3 sm:text-sm border-zinc-300 dark:border-zinc-700 rounded-lg text-inherit bg-inherit;
}
</style>
