<template>
  <select :value="modelValue" class="form-input" @change="change">
    <option v-if="!fallback" value disabled selected>Select your option</option>
    <option v-for="item in items" :key="item.value" :value="item.value">{{ item.label }}</option>
  </select>
</template>

<script setup lang="ts">
interface Item {
  label: string,
  value: string
}

defineProps<{
  items: Array<Item>,
  fallback?: boolean
  modelValue: string
}>()

const emit = defineEmits(['update:modelValue'])
const change = function (e: Event) {
  emit('update:modelValue', (e.target as HTMLSelectElement).value)
}

</script>

<style lang="postcss" scoped>
.form-input {
  @apply focus:ring-primary-500 focus:border-primary-500 block w-full px-4 py-3 pr-10 sm:text-sm border-zinc-300 dark:border-zinc-700 rounded-lg text-inherit bg-inherit;

  option {
    @apply dark:bg-zinc-800 dark:text-white;
  }
}
</style>
