
<template>
    <label class="switch" :class="{ 'checked': isChecked }">
        <span class="relative">
            <span class="switch-bg"></span>
            <span class="switch-bullet focus-within:shadow-outline">
                <input
                    v-model="isChecked"
                    type="checkbox"
                    class="absolute opacity-0 w-0 h-0"
                    @change="change"
                />
            </span>
        </span>
        <span class="ml-3 text-sm">{{ label }} {{ modelValue }}</span>
    </label>
</template>

<script setup lang="ts">

const props = defineProps<{
    label: string,
    modelValue: boolean
}>()

const isChecked = ref(props.modelValue)
watch(() => props.modelValue, (val) => {
    isChecked.value = val
})

const emit = defineEmits(['update:modelValue'])
const change = function (e: Event) {
    emit('update:modelValue', isChecked)
}

</script>

<style lang="postcss">
.switch {
    @apply mt-3 inline-flex items-center cursor-pointer;

    .switch-bg {
        @apply block w-10 h-6 bg-gray-400 rounded-full shadow-inner transition-colors duration-300 ease-in-out;
    }

    .switch-bullet {
        @apply absolute block w-4 h-4 mt-1 ml-1 bg-white rounded-full shadow inset-y-0 left-0 transition-transform duration-300 ease-in-out;
    }

    &.checked {
        .switch-bg {
            @apply bg-green-400;
        }
        .switch-bullet {
            @apply transform translate-x-full;
        }
    }
}
</style>

absolute block w-4 h-4 mt-1 ml-1 rounded-full shadow inset-y-0 left-0 focus-within:shadow-outline transition-transform duration-300 ease-in-out bg-purple-600 transform translate-x-full