<template>
    <div class="flex flex-col gap-2 py-2">
        <div v-for="task in tasks" :key="task.name">
            <label
                class="checkbox"
                :class="[{ 'checked': isChecked(task.name) }]"
                v-if="categorys ? categorys.includes(task.category) : true"
            >
                <span>
                    <slot />
                    <img
                        :src="getImageUrl(task.category, 'webp')"
                        loading="lazy"
                        :alt="task.name"
                        class="block h-6 w-6"
                    />
                    {{ task.label }}
                </span>
                <input type="checkbox" v-model="values" :value="task.name" @change="change" />
            </label>
        </div>
    </div>
</template>

<script setup lang="ts">

// Hotfix 
// TODO: Need defined from d.ts
interface Task {
    label: string
    name: string,
    category: string
}

const props = defineProps<{
    tasks: Task[],
    modelValue: Array<string>
    categorys?: Array<string>
}>()

const values = ref(props.modelValue)

watch(() => props.modelValue, (val) => {
    values.value = val
})

const emit = defineEmits(['update:modelValue'])
const change = function (e: Event) {
    emit('update:modelValue', values)
}

// Dynamic image function
const getImageUrl = function (name: string, type: string) {
    return new URL(`../../assets/img/task-icons/${name}.${type}`, import.meta.url).href
}

const isChecked = function (name: string) {
    return props.modelValue.filter((val: string) => val === name).length > 0
}

</script>

<style scoped lang="postcss">
div:empty {
    @apply hidden;
}

.checkbox {
    @apply flex items-center justify-between border px-4 py-2 rounded dark:bg-zinc-800 dark:border-zinc-800 transition-all cursor-pointer;

    > span {
        @apply cursor-pointer flex flex-row justify-center items-center gap-2 text-sm;
    }

    &.checked {
        @apply border-primary-500 bg-primary-500 bg-opacity-20 line-through;

        :deep(img),
        img {
            @apply grayscale;
        }
    }
}

[type="checkbox"] {
    @apply h-4 w-4 text-primary-600 focus:ring-primary-500 border-zinc-300 dark:border-zinc-700 dark:bg-zinc-600 rounded cursor-pointer;
}

[type="checkbox"]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
</style>
