<template>
  <button class="btn" :class="[`btn--${type}`, `btn--${size}`]" :disabled="disabled">
    <slot />
  </button>
</template>

<script setup lang="ts">
type Size = "sm" | "md" | "lg"
type Type = "primary" | "default"

interface Props {
  disabled?: boolean
  size?: Size
  type?: Type
}

// @ts-ignore
const props = withDefaults(defineProps<Props>(), { disabled: false, size: "md", type: "primary" });


</script>


<style scoped lang="postcss">
.btn {
  @apply inline-block focus-visible:ring font-semibold text-center rounded-lg outline-none transition duration-100;
}

.btn--primary {
  @apply bg-primary-500 hover:bg-primary-600 active:bg-primary-700 ring-primary-300 text-white;
}

.btn--default {
  @apply bg-zinc-400 hover:bg-zinc-500 active:bg-zinc-600 ring-zinc-300 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-500 dark:ring-zinc-300 text-white;
}

.btn--sm {
  @apply px-4 py-2 text-xs;
}

.btn--md {
  @apply px-5 py-3 text-sm;
}

.btn--lg {
  @apply px-8 py-6;
}

.btn[disabled] {
  @apply opacity-70 pointer-events-none;
}
</style>