<template>
    <div class="card">
        <!-- Header -->
        <div v-if="$slots.header" class="card-header">
            <slot name="header" />
        </div>

        <!-- Body -->
        <div class="card-body">
            <slot />
        </div>
    </div>
</template>

<style lang="postcss" scoped>
.card {
    @apply bg-white dark:bg-zinc-900 dark:border-zinc-800 rounded-xl shadow border h-full;
}

.card-body {
    @apply relative p-4 h-full;
}

.card-header {
    @apply relative p-4;
}
</style>