<template>
    <Card>
        <template #header>
            <!-- Class Icon -->
            <div class="w-full flex justify-center -translate-y-full absolute inset-x-0 z-10">
                <img
                    :src="getImageUrlIcon(char.class, 'svg',)"
                    loading="lazy"
                    :alt="char.class"
                    class="h-10 w-auto dark:invert select-none"
                />
            </div>

            <div class="group h-28 flex items-end overflow-hidden">
                <!-- Class Detail Image -->
                <img
                    :src="getImageUrlDetail(char.class, 'png')"
                    loading="lazy"
                    :alt="char.class"
                    class="w-full h-full object-cover object-center absolute inset-0 rounded-xl"
                />

                <!-- Gradient -->
                <div
                    class="bg-gradient-to-t from-white dark:from-zinc-900 dark:via-transparent to-transparent opacity-100 absolute inset-0 pointer-events-none"
                ></div>

                <!-- Remove character -->
                <div class="absolute top-0 inset-x-0 p-4 text-right">
                    <button
                        class="h-7 w-7 text-xs bg-zinc-50 dark:bg-zinc-700 hover:bg-zinc-100 dark:hover:bg-zinc-600 p-2 rounded inline-flex justify-center items-center transition-all"
                        aria-label="Edit Character"
                        @click="showModal = true"
                    >
                        <i class="icon icon-crystal leading-none"></i>
                    </button>
                </div>

                <!-- Char Informations -->
                <div
                    class="relative text-zinc-900 dark:text-white flex flex-col text-center w-full"
                >
                    <span
                        class="uppercase text-xs font-bold tracking-widest text-primary-500"
                    >{{ char.class }}</span>
                    <span class="text-lg lg:text-xl font-bold">{{ char.name }}</span>
                </div>
            </div>
        </template>

        <div class="flex flex-col gap-4">
            <!-- Dailies -->
            <div v-if="charDailyCategorysCheck.length > 0">
                <h3 class="text-xs uppercase tracking-widest font-bold">Dailies</h3>
                <FormTaskGroup
                    :tasks="charDailies"
                    v-model="account.chars[index].dailies"
                    :categorys="char.categories"
                />
            </div>

            <!-- Weeklies -->
            <div v-if="charWeeklyCategorysCheck.length > 0">
                <h3 class="text-xs uppercase tracking-widest font-bold">Weeklies</h3>
                <FormTaskGroup
                    :tasks="charWeeklies"
                    v-model="account.chars[index].weeklies"
                    :categorys="char.categories"
                />
            </div>
        </div>
    </Card>

    <!-- Modal – edit char -->
    <Modal :show="showModal" @close="showModal = false" size="sm" :show-close="true">
        <!-- Header -->
        <template #header>
            <div class="group h-32 flex items-end bg-zinc-300 dark:bg-zinc-900 relative -m-6">
                <!-- Class Icon -->
                <!-- <div class="w-full flex justify-center absolute inset-x-0 top-0 z-10">
                    <img
                        :src="getImageUrlIcon(char.class, 'svg',)"
                        loading="lazy"
                        :alt="char.class"
                        class="h-10 w-auto dark:invert select-none"
                    />
                </div>-->

                <!-- Cute image <3 -->
                <img
                    class="w-full h-full object-cover object-center absolute inset-0"
                    src="@/assets/img/modal-bg.jpg"
                    alt="BG-Image"
                    loading="lazy"
                />

                <!-- Gradient -->
                <div
                    class="bg-gradient-to-t from-white dark:from-zinc-900 dark:via-transparent to-transparent opacity-100 absolute inset-0 pointer-events-none"
                ></div>

                <div
                    class="p-6 relative text-zinc-900 dark:text-white flex flex-col text-center w-full"
                >
                    <h2 class="font-bold text-2xl">Edit your Character</h2>
                    <p
                        class="text-zinc-500 dark:text-zinc-400"
                    >Adjust your informations and setup your tasks.</p>
                </div>
            </div>
        </template>

        <!-- Default / Content -->
        <FormularChar :char="char" />

        <div class="flex justify-center items-center py-6">
            <Button
                @click="account.removeChar(char.id); showModal = false"
                size="sm"
                type="default"
            >Remove Character (BETA)</Button>
        </div>

        <!-- Footer -->
        <template #footer>
            <Button @click="showModal = false">Close</Button>
        </template>
    </Modal>
</template>
            
<script setup lang="ts">
import { useAccountStore } from "@/stores/account"
import { charDailies, charWeeklies } from "@/assets/data/tasks.json"
import { charDailyCategorys, charWeeklyCategorys } from "@/assets/data/categorys.json"

const props = defineProps<{
    char: Char,
    index: number
}>()

const account = useAccountStore()

// Dynamic image function
const getImageUrlDetail = function (name: string, type: string) {
    return new URL(`../assets/img/class-detail/${name}.${type}`, import.meta.url).href
}
const getImageUrlIcon = function (name: string, type: string) {
    return new URL(`../assets/img/class-icons/${name}.${type}`, import.meta.url).href
}

// Categorys
const charDailyCategorysCheck = computed(() => {
    // const checker = (value: Category) =>
    //     props.char.categories.some((element: string) => value.includes(element));
    // return charDailyCategorys.filter(checker)
    return ['1']
})

const charWeeklyCategorysCheck = computed(() => {
    // const checker = (value: string | string[]) =>
    //     props.char.categories.some((element: string) => value.includes(element));
    // return charWeeklyCategorys.filter(checker)
    return ['1']
})

// Modal
const showModal = ref(false)

// Fix for all old character that doesn't contain categorys
onMounted(() => {
    if (!props.char.categories)
        props.char.categories = [...charDailyCategorys, ...charWeeklyCategorys]
})

</script>