<template>
    <footer class="bg-zinc-100 dark:bg-zinc-800 p-4 border-t dark:border-zinc-600">
        <div class="container px-4 mx-auto">
            <div class="flex flex-col items-center pt-6">
                <div class="flex align-items-center justify-center gap-x-2">
                    <Button
                        @click="account.deleteData()"
                        size="sm"
                        type="default"
                        :disabled="account.chars.length === 0"
                    >Delete Data</Button>
                    <!-- <Button size="sm" type="default" @click="showModalSettings = true">Settings</Button> -->
                    <Button
                        v-if="settings.theme === 'dark'"
                        size="sm"
                        type="default"
                        @click="settings.setTheme('light')"
                    >
                        <img class="w-4 h-4" alt="icon-light" src="@/assets/img/icon-dark.svg" />
                    </Button>
                    <Button
                        v-if="settings.theme === 'light'"
                        size="sm"
                        type="default"
                        @click="settings.setTheme('dark')"
                    >
                        <img class="w-4 h-4" alt="icon-light" src="@/assets/img/icon-light.svg" />
                    </Button>
                </div>
            </div>
            <div
                class="text-gray-400 text-sm text-center py-8"
            >from gamers for gamers – In love for the game ❤️</div>
        </div>
    </footer>

    <!-- Modal – Settings -->
    <Modal :show="showModalSettings" @close="showModalSettings = false" size="sm" no-body-padding>
        <Settings />
    </Modal>
</template>

<script setup lang="ts">
import { useSettingsStore } from "@/stores/settings"
import { useAccountStore } from "@/stores/account"
const account = useAccountStore()
const settings = useSettingsStore()

// Themes
settings.setTheme(settings.theme)

// Modal
const showModalSettings = ref(false)
</script>