<template>
    <transition name="modal">
        <div
            v-if="show"
            class="modal"
            :class="[{ [`modal-${size}`]: size }]"
            tabindex="-1"
            role="dialog"
            :aria-hidden="!show"
            @keyup.esc="closeModal"
            @mousedown.self="closeModal"
        >
            <div class="modal-dialog">
                <!-- header -->
                <div v-if="$slots.header" class="modal-header">
                    <span class="font-bold">
                        <slot name="header" />
                    </span>
                    <button
                        v-if="showClose"
                        type="button"
                        class="modal-close"
                        data-dismiss="modal"
                        aria-label="Close"
                        @click="closeModal"
                    >
                        <span :aria-hidden="!show">×</span>
                    </button>
                </div>

                <!-- body -->
                <div class="modal-body" :class="{ '!p-0': noBodyPadding }">
                    <slot />
                </div>

                <!-- footer -->
                <div v-if="$slots.footer" class="modal-footer">
                    <slot name="footer" />
                </div>
            </div>
        </div>
    </transition>
</template>

<script setup lang="ts">
type size = "sm" | "" | "lg" | "full"

const props = defineProps<{
    size?: size,
    show: boolean,
    showClose?: boolean
    noBodyPadding?: boolean
}>()

// const test = ref(show)
// watch(test, async (newQuestion, oldQuestion) => {

// })
watch(() => props.show, (val) => {
    const documentClasses = document.body.classList
    if (val) {
        documentClasses.add("modal-open")
    } else {
        documentClasses.remove("modal-open")
    }
})

const emit = defineEmits<{
    (e: 'update:show', value: boolean): void
    (e: 'close'): void
}>()

function closeModal() {
    emit('update:show', false)
    emit('close')
}
</script>

<style lang="postcss" scoped>
/* Base */
.modal {
    @apply fixed z-50 inset-0 overflow-y-auto bg-zinc-900 bg-opacity-90 flex items-end md:items-center justify-center min-h-screen p-4 text-center backdrop-filter backdrop-blur-sm;
}

.modal-dialog {
    @apply inline-block align-bottom bg-white dark:bg-zinc-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-10 sm:max-w-screen-md sm:w-full;
}

.modal-header {
    @apply p-6 text-center relative;
}

.modal-body {
    @apply p-6;
}

.modal-footer {
    @apply p-6 flex justify-end items-center gap-2;
}

/* Close button */
.modal-close {
    @apply absolute right-0 top-0 transform w-10 h-10 text-2xl;
}

/* Transition */
.modal-enter-active,
.modal-leave-active {
    transition: opacity ease-in-out 0.3s;
}

.modal-enter,
.modal-leave-active {
    opacity: 0;
}

/* Sizes */
.modal-sm {
    .modal-dialog {
        @apply sm:max-w-lg;
    }
}

.modal-lg {
    .modal-dialog {
        @apply sm:max-w-screen-lg;
    }
}

.modal-full {
    .modal-dialog {
        @apply h-full;
    }
}
</style>

<style lang="postcss">
/* Body class */
.modal-open {
    @apply overflow-hidden pr-4;
}
</style>
