<template>
    <!-- Nav -->
    <nav class="nav sticky top-0 z-20">
        <div class="container-full mx-auto px-4 flex justify-between items-center gap-2 py-4">
            <!-- Logo -->
            <div class="flex justify-center items-center gap-2 text-lg">
                <div
                    class="rounded-lg bg-zinc-900 h-9 w-9 flex justify-center items-center text-[#c1a65e]"
                >
                    <i class="icon icon-logo top-1 relative"></i>
                </div>
                <span class="font-semibold">Lost Ark Tasks</span>
            </div>

            <!-- <img class="h-8 w-auto" alt="Lost Ark Logo" src="@/assets/img/lost-ark-logo.png" /> -->
            <div class="flex justify-end items-center gap-2">
                <Button @click="account.resetDailies()">Reset Dailies</Button>
                <Button @click="account.resetWeeklies()">Reset Weeklies</Button>
                <Button @click="account.resetAllTasks()" type="default">Reset All</Button>
            </div>
        </div>
        <!-- Percentage state -->
        <!-- TODO: Need to fix only checked categorys calc -->
        <!-- <div class="w-full bg-gray-100 dark:bg-zinc-700 h-1">
            <div
                v-if="account.chars.length > 0"
                class="bg-primary-500 h-full text-right text-xs text-white italic transition-all ease-in-out delay-150 duration-300"
                :style="{ width: `${account.taskPercent}%` }"
            ></div>
        </div>-->
    </nav>
</template>

<script setup lang="ts">
import { useAccountStore } from "@/stores/account"
const account = useAccountStore()
</script>

<style lang="postcss" scoped>
.nav {
    @apply bg-white dark:bg-zinc-800;
}
</style>