<template>
    <div class="flex h-full">
        <!-- <div class="w-full md:w-1/3 text-right bg-zinc-900 bg-opacity-50 h-full p-4">
            <h4>Settings</h4>
            <ul>
                <li>Account</li>
                <li>Appearance</li>
                <li>Data</li>
            </ul>
        </div>-->
        <div class="w-full h-full p-4">
            <!-- <div class="w-full md:w-2/3 h-full p-4"> -->
            <FormSwitch label="Kristalinaura active" v-model="settings.crystallineAura" />
            <!-- <h3>Account Dailies</h3>
            <p>Here</p>

            <h3>Account Weeklies</h3>
            <p>Here</p>

            <h3>Rapport</h3>
            <p>Here</p>-->
        </div>
    </div>
</template>

<script setup lang="ts">
import { useSettingsStore } from "@/stores/settings"
const settings = useSettingsStore()
</script>