<template>
    <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
            <h3 class="text-xs uppercase tracking-widest font-bold">Basis</h3>
            <FormInput v-model.trim="char.name" type="text" placeholder="Charactername" />
            <FormSelect v-model="char.class" :items="classes" />
        </div>

        <div class="flex flex-col gap-2">
            <h3 class="text-xs uppercase tracking-widest font-bold">Dailies</h3>
            <FormCategoryGroup :categorys="charDailyCategorys" v-model="char.categories" />
        </div>

        <div class="flex flex-col gap-2">
            <h3 class="text-xs uppercase tracking-widest font-bold">Weeklies</h3>
            <FormCategoryGroup :categorys="charWeeklyCategorys" v-model="char.categories" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { classes } from "@/assets/data/general.json"
import { charDailyCategorys, charWeeklyCategorys } from "@/assets/data/categorys.json"

defineProps<{
    char: CharProfile
}>()
</script>