<template>
  <div class="min-h-screen bg-white dark:bg-zinc-900 dark:text-white">
    <!-- Nav -->
    <Nav />

    <!-- Main -->
    <main>
      <div class="container-fluid mx-auto px-4 py-4">
        <!-- Characters -->
        <div v-if="account.chars.length > 0" class="py-8">
          <!-- Add Character -->
          <div class="mb-10 text-right">
            <Button @click="showModal = true" size="sm" type="default">Add Character</Button>
          </div>

          <div class="flex flex-col md:flex-row gap-4 mb-8">
            <!-- Chars -->
            <div v-for="(char, index) in account.chars" :key="index" class="w-full md:w-1/3">
              <Char :char="char" :index="index" />
            </div>
          </div>

          <!-- Account -->
          <div class="grid flex-wrap gap-4 grid-cols-2 mb-4">
            <Card>
              <h3 class="text-xs uppercase tracking-widest font-bold">Account Dailies</h3>
              <FormTaskGroup :tasks="accountDailies" v-model="account.tasks.dailies" />
            </Card>

            <!-- Weekly -->
            <Card>
              <h3 class="text-xs uppercase tracking-widest font-bold">Account Weeklies</h3>
              <FormTaskGroup :tasks="accountWeeklies" v-model="account.tasks.weeklies" />
            </Card>

            <!-- Rapport -->
          </div>
          <Card>
            <h3 class="text-xs uppercase tracking-widest font-bold">Rapport</h3>
            <FormTaskGroup
              :tasks="accountRapport"
              v-model="account.tasks.rapports"
              class="grid sm:grid-cols-2 lg:grid-cols-3"
            />
          </Card>
        </div>

        <!-- Add Character /if no char there -->
        <div v-else class="h-48 md:h-96 flex justify-center items-center">
          <div class="text-center flex flex-col gap-y-4">
            <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-center">No Characters</h2>
            <p>Get started by setting a character</p>
            <Button @click="showModal = true">Add Character</Button>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <Footer />

    <!-- Modal – create character -->
    <Modal :show="showModal" @close="showModal = false; resetChar()" size="sm">
      <!-- Header -->
      <template #header>
        <div class="group h-32 flex items-end bg-zinc-300 dark:bg-zinc-900 relative -m-6">
          <!-- Cute image <3 -->
          <img
            class="w-full h-full object-cover object-center absolute inset-0"
            src="@/assets/img/modal-bg.jpg"
            alt="BG-Image"
            loading="lazy"
          />

          <!-- Gradient -->
          <div
            class="bg-gradient-to-t from-white dark:from-zinc-900 dark:via-transparent to-transparent opacity-100 absolute inset-0 pointer-events-none"
          ></div>

          <div class="p-6 relative text-zinc-900 dark:text-white flex flex-col text-center w-full">
            <h2 class="font-bold text-2xl">New Character</h2>
            <p
              class="text-zinc-500 dark:text-zinc-400"
            >Enter your informations and setup your tasks.</p>
          </div>
        </div>
      </template>

      <!-- Default / Content -->
      <FormularChar :char="char" />

      <!-- Footer -->
      <template #footer>
        <Button @click="showModal = false; resetChar()" type="default">Cancel</Button>
        <Button
          :disabled="!(char.name.length && char.class.length && char.categories.length)"
          @click="createChar"
        >Add Character</Button>
      </template>
    </Modal>
  </div>
</template>

<script setup lang="ts">
import { accountDailies, accountWeeklies, accountRapport } from "@/assets/data/tasks.json"
import { charDailyCategorys, charWeeklyCategorys } from "@/assets/data/categorys.json"
import { useAccountStore } from "@/stores/account"
// import { charCategories } from "@/types/task.d.ts"

const account = useAccountStore()

// Modal
const showModal = ref(false)
const charDailyCategorysInitial = charDailyCategorys.map(({ name }) => name)
const charWeeklyCategorysInitial = charWeeklyCategorys.map(({ name }) => name)
const char = ref({
  name: "",
  class: "",
  categories: [...charDailyCategorysInitial, ...charWeeklyCategorysInitial]
})

const resetChar = () => {
  char.value.name = ""
  char.value.class = ""
  char.value.categories = [...charDailyCategorysInitial, ...charWeeklyCategorysInitial]
}

const createChar = () => {
  account.addChar(char.value)
  showModal.value = false
  resetChar()
}



// Dynamic image function
// const getImageUrlIcon = function (name: string, type: string) {
//   // return new URL(`../src/assets/img/${name}.${type}`, import.meta.url).href
//   return new URL(`../src/assets/img/class-icons/${name}.${type}`, import.meta.url).href
// }


</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
