@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */
.dark body{
    background-color: #222;
}

.light body{
    background-color: #fff;
}

/* Icons */
@font-face {
    font-family: "la-icons";
    src: url("@/assets/fonts/la-icons.eot?3bb7f7ae360025ebdee7bc03d0960fa0?#iefix") format("embedded-opentype"),
    url(@/assets/fonts/la-icons.woff2?3bb7f7ae360025ebdee7bc03d0960fa0) format("woff2"),
    url(@/assets/fonts/la-icons.woff?3bb7f7ae360025ebdee7bc03d0960fa0) format("woff"),
    url(@/assets/fonts/la-icons.ttf?3bb7f7ae360025ebdee7bc03d0960fa0) format("truetype"),
    url("@/assets/fonts/la-icons.svg?3bb7f7ae360025ebdee7bc03d0960fa0#la-icons") format("svg")
}

.icon::before {
    font-family: "la-icons" !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400 !important;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-archetype-assassin::before {
    content: "\f101"
}

.icon-archetype-magician::before {
    content: "\f102"
}

.icon-archetype-monk_m::before {
    content: "\f103"
}

.icon-archetype-monk::before {
    content: "\f104"
}

.icon-archetype-shooter_f::before {
    content: "\f105"
}

.icon-archetype-shooter::before {
    content: "\f106"
}

.icon-archetype-warrior::before {
    content: "\f107"
}

.icon-arrow-decor::before {
    content: "\f108"
}

.icon-arrow::before {
    content: "\f109"
}

.icon-check::before {
    content: "\f10a"
}

.icon-class-arcana::before {
    content: "\f10b"
}

.icon-class-bard::before {
    content: "\f10c"
}

.icon-class-battlemaster::before {
    content: "\f10d"
}

.icon-class-berserker::before {
    content: "\f10e"
}

.icon-class-blades::before {
    content: "\f10f"
}

.icon-class-blaster::before {
    content: "\f110"
}

.icon-class-demonic::before {
    content: "\f111"
}

.icon-class-destroyer::before {
    content: "\f112"
}

.icon-class-devilhunter::before {
    content: "\f113"
}

.icon-class-fighter::before {
    content: "\f114"
}

.icon-class-gunslinger::before {
    content: "\f115"
}

.icon-class-hawkeye::before {
    content: "\f116"
}

.icon-class-hunter::before {
    content: "\f117"
}

.icon-class-infighter::before {
    content: "\f118"
}

.icon-class-lancemaster::before {
    content: "\f119"
}

.icon-class-magician::before {
    content: "\f11a"
}

.icon-class-paladin::before {
    content: "\f11b"
}

.icon-class-reaper::before {
    content: "\f11c"
}

.icon-class-scout::before {
    content: "\f11d"
}

.icon-class-sorceress::before {
    content: "\f11e"
}

.icon-class-soulmaster::before {
    content: "\f11f"
}

.icon-class-striker::before {
    content: "\f120"
}

.icon-class-summoner::before {
    content: "\f121"
}

.icon-class-warlord::before {
    content: "\f122"
}

.icon-class-warrior::before {
    content: "\f123"
}

.icon-copy-past::before {
    content: "\f124"
}

.icon-cross::before {
    content: "\f125"
}

.icon-crystal::before {
    content: "\f126"
}

.icon-download::before {
    content: "\f127"
}

.icon-friend::before {
    content: "\f128"
}

.icon-icon-bike::before {
    content: "\f129"
}

.icon-icon-box::before {
    content: "\f12a"
}

.icon-icon-cloth::before {
    content: "\f12b"
}

.icon-icon-trailer::before {
    content: "\f12c"
}

.icon-icon-weapon::before {
    content: "\f12d"
}

.icon-lock::before {
    content: "\f12e"
}

.icon-logo::before {
    content: "\f12f"
}

.icon-pending::before {
    content: "\f130"
}

.icon-refresh::before {
    content: "\f131"
}

.icon-search::before {
    content: "\f132"
}

.icon-shopping-cart::before {
    content: "\f133"
}

.icon-social-discord::before {
    content: "\f134"
}

.icon-social-facebook::before {
    content: "\f135"
}

.icon-social-forum::before {
    content: "\f136"
}

.icon-social-instagram::before {
    content: "\f137"
}

.icon-social-mail::before {
    content: "\f138"
}

.icon-social-odnoklassniki::before {
    content: "\f139"
}

.icon-social-reddit::before {
    content: "\f13a"
}

.icon-social-steam-simple::before {
    content: "\f13b"
}

.icon-social-steam::before {
    content: "\f13c"
}

.icon-social-twitch::before {
    content: "\f13d"
}

.icon-social-twitter::before {
    content: "\f13e"
}

.icon-social-vkontakte-clean::before {
    content: "\f13f"
}

.icon-social-vkontakte::before {
    content: "\f140"
}

.icon-social-weibo::before {
    content: "\f141"
}

.icon-social-youtube::before {
    content: "\f142"
}

.icon-stopwatch::before {
    content: "\f143"
}

.icon-triangle-full::before {
    content: "\f144"
}

.error__icon::before,
.icon-triangle::before {
    content: "\f145"
}

.icon-unlock::before {
    content: "\f146"
}

.error__icon:after,
.icon-warning::before {
    content: "\f147"
}




